.about-body{
    background-color: honeydew;
}
.about{
    color: black;
    font-family: 'PT Serif', serif;
    padding-top: 20px;
}
.about .typeeffect{
    font-family: 'PT Serif', serif ;
}
.about-text{
    text-align: justify;
    padding-top: 120px;
}

@media  only screen and (max-width:688px){
    .about-text{
        padding-top: 30px;
    }
}